<div class="container component velora-customer" data-component-id="{{ componentId }}">
  <section class="py-5-nav">
    <div class="row">
      <div class="col-12 col-lg-3 mb-4">
        {% render_snippet "customer-sidebar.njk" %}
      </div>
      <div class="col-12 col-lg-9">
        <div class="card p-4">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Status</th>
                <th scope="col">ID</th>
                <th scope="col">Products</th>
                <th scope="col">Price</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              {% if invoices.data.length > 0 %}
                {% for invoice in invoices.data %}
                  <tr class="small">
                    <td class="text-capitalize">{{ invoice.status | replace('_', ' ') }}</td>
                    <td><a href="{{ invoice.url }}" target="_blank" class="vl-link-accent">#{{ invoice.unique_id }}</a></td>
                    <td>
                      {% if invoice.items %}
                        {{ invoice.items[0].product.name }}
                        {% if invoice.items[0].variant and invoice.items[0].product.name != invoice.items[0].variant.name %}
                          ({{ invoice.items[0].variant.name }})
                        {% endif %}
                        {% if invoice.items.length > 1 %}
                          & {{ invoice.items.length - 1 }} more
                        {% endif %}
                      {% else %}
                        Unknown Product
                      {% endif %}
                    </td>
                    <td>{{ formatPrice(invoice.price, invoice.currency) }}</td>
                    <td>{{ invoice.created_at | formatDate }}</td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="5" class="text-center">No Orders Yet</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>

        {% if invoices.last_page > 1 %}
          {% render_snippet "pagination.njk", paginator=invoices %}
        {% endif %}
      </div>
    </div>
  </section>
</div>
