{% if templateName == 'blog' %}
<section class="container component vl-page-section" data-component-id="{{ componentId }}">
  <div class="py-5-nav">
{% else %}
<section class="py-20 text-block component" data-component-id="{{ componentId }}">
  <div class="container">
{% endif %}

    {% if properties.title %}
      <div class="section-title">
        <h2>{{ properties.title | renderString }}</h2>
      </div>
    {% endif %}
    {% if properties.subtitle %}
      <div class="section-subtitle">
        <p>{{ properties.subtitle | renderString }}</p>
      </div>
    {% endif %}

    {% if blogPosts.data|length > 0 %}
      <div class="row products">
        {% for blogPost in blogPosts.data.slice(0, (properties.amount if properties.amount else blogPosts.data|length)) %}
          {% render_snippet "blog-post-card.njk", blogPost=blogPost %}
        {% endfor %}
      </div>
      
      {% if blogPosts.last_page > 1 %}
        {% render_snippet "pagination.njk", paginator=blogPosts %}
      {% endif %}
    {% else %}
      <div class="alert alert-info">
        No Blog Posts Yet.
      </div>
    {% endif %}
  </div>
</section>