<div class="container component vl-page-section" data-component-id="{{ componentId }}">
  <section class="py-5-nav">
    <div class="section-title">
      <h1>Privacy Policy</h1>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="editor">
          {{ privacy_policy | safe }}
        </div>
      </div>
    </div>
  </section>
</div>
