<div class="container component vl-page-section" data-component-id="{{ componentId }}">
  <section class="py-5-nav">
    <div class="section-title">
      <h1>Terms of Service</h1>
    </div>
    <div class="row">
      <div class="p-4 editor">
        {{ shop.terms | safe }}
      </div>
    </div>
  </section>
</div>