{% render_snippet "vl-legal-page.njk",
  properties=properties,
  componentId=componentId,
  title_id='vl-terms-title',
  show_extra=(properties.show_shop_terms != false and shop.terms),
  extra_content=shop.terms,
  extra_heading=properties.shop_terms_heading
%}
