<section class="py-20 vl-text-image-block text-image-block alignment-{{ properties.alignment }} vl-builder-section component" data-component-id="{{ componentId }}">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 {{ 'col-lg-6' if properties.alignment != 'center' }}">
        {% if properties.title %}
        <div class="section-title">
        {% if properties.badge_text %}
        <div class="nexus-badge">
          {{ properties.badge_text | renderString }}
        </div>
        {% endif %}
          <h2>{{ properties.title | renderString }}</h2>
        </div>
        {% endif %}
        {% if properties.subtitle %}
        <div class="section-subtitle">
          <p>{{ properties.subtitle | renderString }}</p>
        </div>
        {% endif %}
        <p class="main-text">{{ properties.text | renderString }}</p>
        {% if properties.features %}
        <div class="features-list">
          {% for feature in properties.features %}
            <div class="feature-item">
              <span class="icon">{{ feature.icon }}</span> {{ feature.text }}
            </div>
          {% endfor %}
        </div>
        {% endif %}

        {% if properties.cta and properties.cta_text %}
        <a href="{{ properties.cta | shopUrl }}" class="btn btn-primary">
          {{ properties.cta_text }}
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="height: 1rem; width: 1rem; vertical-align: -0.125em" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
          </svg>
        </a>
        {% endif %}
      </div>
      <div class="col-12 {{ 'col-lg-6' if properties.alignment != 'center' }}">
        <div class="image-container">
          <img src="{{ properties.image | imageUrl }}" alt="" class="img-fluid" loading="lazy" />
        </div>
      </div>
    </div>
  </div>
</section>