<section class="container py-20 component" data-component-id="{{ componentId }}">
  {% if properties.text %}
    <h2 class="text-center hero-title-modern">{{ properties.text | renderString }}</h2>
  {% endif %}
</section>